/* WeightEntryForm.module.css */

.container {
    max-width: 400px;
    min-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--gray-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    font-size: 24px;
    color: var(--light-color);
    text-align: center;
    padding-bottom: var(--space-s);
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid var(--light-color);
    border-radius: 4px;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: 'Arial', sans-serif;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #c8e057;
  }
  
  .submit-button {
    background-color: var(--light-color);
    color: var(--dark-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .submit-button:hover {
    background-color: #c8e057;
  }
  
  @media (min-width: 768px) {

    .container {
        min-width: 600px;
  }
}